# Documentation: https://git-scm.com/docs/gitignore

*.exe
*.log
*.tar*
*.zip*
*~
.~lock.*
Thumbs.db
wget-log*

/Build/
/public/

.cache/
.fake/
.log/
.vscode/
bin/
build/
compiled/
node_modules/
obj/

!/.devcontainer/
!/.vscode/
!/.vscode/launch.json
!/.vscode/tasks.json
