[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "$version"
version_scheme = "semver"
version_provider = "scm"
update_changelog_on_bump = false
major_version_zero = true

[tool.pylint.'MESSAGES CONTROL']
disable = ["eval-used", "invalid-name", "no-member"]
